body {
  font-family: 'Prompt', sans-serif;
}

.background{
  background-image: linear-gradient(200deg,#ff0066, blue);
  background-size: contain;
}

body {
  min-height: 100vh !important;
  min-height: -webkit-fill-available !important;
}
html {
  height: -webkit-fill-available !important;
}